{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}Formulário de recuperação de senha{% endblock title %}

{% block body%}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p> {% trans "Welcome to our page" %} </p>

            <h1>{{ title }}</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <fieldset class="module aligned">
                        <div class="form-row field-email">
                            {{ form.email.errors }}
                            <lable for="id_email">{% trans 'Email address:' %}</lable>
                            {{ form.email }}
                        </div>
                        <br/>
                        <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}">
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}